include ./components/header
include ./components/footer

    ol(id='list')
        each val in requests
            li= val

header
body
    script.
        const [,trapName] = window.location.pathname.split('/')
        const {hostname,port} = window.location;
        const socket = new WebSocket(`ws://${hostname}:${port}`);
        const list = document.getElementById('list');

        // Listen for messages
        socket.addEventListener('message', function (event) {
            const {type, message } = JSON.parse(event.data);

            if(type === 'incomingRequest' && message.trapName === trapName) {

                const newListItem = document.createElement('li');
                newListItem.textContent = event.data;

                list.append(newListItem);
            }
        });
footer